opencv-python==4.12.0.88
torch==2.8.0+cpu
torchvision==0.23.0+cpu
transformers==4.56.2
Pillow>=5.3.0
spotipy>=2.20.0
python-dotenv>=1.0.0
google-generativeai>=0.3.0
spacy>=3.4.0
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.4.1/en_core_web_md-3.4.1-py3-none-any.whl
